@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;

  --muted: #737373;
  --muted-foreground: #a3a3a3;

  --border: #e2e2e2;
  --input: #e5e5e5;

  --ring: #000000;

  --accent: #f5f5f5;
  --accent-foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;

  --muted: #404040;
  --muted-foreground: #737373;

  --border: #1a1a1a;
  --input: #262626;

  --ring: #ffffff;

  --accent: #111111;
  --accent-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --font-sans: var(--font-roboto);
  --font-display: var(--font-titan);
  --font-ops: var(--font-ops);

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

* {
  border-color: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Utilities */
@layer utilities {
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}
